[submodule "web"]
	path = web
	url = git@github.com:talebox/slepau_web.git
	branch = master
[submodule "samn-common"]
	path = samn-common
	url = git@github.com:rubend056/samn-common.git
	branch = main
